@{
    ViewBag.Title = "Vision y Mision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="cont-txt">
                <h2 id="QS">Vision</h2>
                <p>Nuestra vision es traer a nuestros clientes el mundo digital por medio de nuestros Productos</p>

                <h2 id="QS">Mision</h2>
                <p>
                    Nuestra mision suplir las necesidades tecnologicas de nuestros clientes
                    por medio de nuestros porductos, cumpliendo con los estadares de calidad,
                    para brindar una excelente atencion.
                </p>

                <img src="~/logos/logo-icon.png" alt="Logo" width="90">
            </div>
        </div>
    </div>
</div>
