@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenedor1">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Ubicacion:</h3>
            <p>Estamos ubicados en el centro comercial Unilago en Bogota DC</p>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5994075463727!2d-74.06014878590986!3d4.665292943264221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5f3f535297%3A0xf509f2cb0f590c3!2sUnilago!5e0!3m2!1ses!2sco!4v1623949425556!5m2!1ses!2sco" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <h2>Nuestras Redes:</h2>
            <p>Nos pueden encontrar en las siguientes redes:</p>
            <div class="parent-rs">
                <a href="#">
                    <div id="ic-fb" class="rs"></div>
                </a>
                <a href="#">
                    <div id="ic-tw" class="rs"></div>
                </a>
                <a href="">
                    <div id="ic-ig" class="rs"></div>
                </a>
                <a href="">
                    <div id="ic-wa" class="rs"></div>
                </a>
                
            </div>
        </div>
    </div>

</div>

</div>