@{
    ViewBag.Title = "Pagina Principal";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="imagenes/teclado-off1.png" class="d-block w-100" alt="Teclado" width="620" height="450">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Redragon Teclado mecánico</h5>
                            <p>RGB LED Rainbow retroiluminado color blanco 20% OFF!!</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="imagenes/mouse-off.png" class="d-block w-100" alt="Mouse" width="620" height="450">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mouse Gamer XTech</h5>
                            <p>6 botones, led de tres colores, 2400Dpi, 30% OFF!!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="imagenes/headset-off.png" class="d-block w-100" alt="Headset" width="600" height="450">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Headset Kotion Each G4000</h5>
                            <p>color azul negro, microfono integrado, 25% OFF!!</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="cont col-md-4">
        <h2>Monitor Gaming LG 27 Ref 27mp59g</h2>
        <p>
            Monitor Lg, 27", UHD 4k, 120Hrz. <br />
            Monitor con entrada HDMI, calidad 1080p a 60FPS o 4k a 30FPS <br />
            <strong>Precio:</strong> <del>$560.000 COP</del> 20%OFF  <br />
            <strong>$448.000 COP</strong>
        </p>
        <img src="~/imagenes/monitoLg.png" width="200" height="180" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver &raquo;</a></p>
    </div>
    <div class="cont col-md-4">
        <h2>PDP Gaming LVL40</h2>
        <p>
            HeadSet cableado con cancelacion de sonido y microfono para Nintendo switch <br />
            <strong>Precio:</strong> <del>$230.000 COP</del> 10%OFF  <br />
            <strong>$207.000 COP</strong>
        </p>
        <img src="~/imagenes/headsetSwicth.jpg" width="180" height="180" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
    </div>
    <div class="cont col-md-4">
        <h2>Iphone X</h2>
        <p>
            Iphone X color gris espacial o plata, Almacenamiento de 64GB <br />
            Pantalla Super Retina HD <br />
            Pantalla OLED Multi-Touch de 5,8 pulgadas (en diagonal) <br />
            Pantalla HDR <br />
            <strong>Precio:</strong> <del>$2'230.000 COP</del> 10%OFF <br />
            <strong>$207.000.000 COP</strong>
        </p>
        <img src="~/imagenes/iPhone-X.jpg" width="250" height="160" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver &raquo;</a></p>
    </div>
</div>