
@{
    ViewBag.Title = "Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="cont-off">
    <div class="container">
        <div class="parent">
            <div class="div1">
                <h2>Monitor Gaming LG 27 Ref 27mp59g</h2>
                <p>
                    Monitor Lg, 27", UHD 4k, 120Hrz. <br />
                    Monitor con entrada HDMI, calidad 1080p a 60FPS o 4k a 30FPS <br />
                    <strong>Precio:</strong> <del>$560.000 COP</del> 20%OFF  <br />
                    <strong>$448.000 COP</strong>
                </p>
                <img src="~/imagenes/monitoLg.png" width="200" height="180" />
            </div>
            <div class="div2">
                <h2>PDP Gaming LVL40</h2>
                <p>
                    HeadSet cableado con cancelacion de sonido y microfono para Nintendo switch <br />
                    <strong>Precio:</strong> <del>$230.000 COP</del> 10%OFF  <br />
                    <strong>$207.000 COP</strong>
                </p>
                <img src="~/imagenes/headsetSwicth.jpg" width="180" height="180" />
            </div>
            <div class="div3">
                <h2>Iphone X</h2>
                <p>
                    Iphone X color gris espacial o plata, Almacenamiento de 64GB <br />
                    Pantalla Super Retina HD <br />
                    Pantalla OLED Multi-Touch de 5,8 pulgadas (en diagonal) <br />
                    Pantalla HDR <br />
                    <strong>Precio:</strong> <del>$2'230.000 COP</del> 10%OFF <br />
                    <strong>$2'070.000 COP</strong>
                </p>
                <img src="~/imagenes/iPhone-X.jpg" width="250" height="160" />
            </div>
            <div class="div4">
                <h2>Redragon Pd345</h2>
                <p>
                    Teclado Redragon mecanico, iluminacion interna <br />
                    Color: Balnco<br />
                    Referncia: PD345<br />
                    <strong>Precio:</strong> <del>$230.000 COP</del> 20%OFF <br />
                    <strong>$165.000 COP</strong>
                </p>
                <img src="~/imagenes/teclado-off1.png" width="250" height="160" />
            </div>
            <div class="div5">
                <h2>Mouse Gamer XTech</h2>
                <p>
                    6 botones, led de tres colores,<br />
                    2400Dpi<br />
                    <strong>Precio:</strong> <del>$120.000 COP</del> 30%OFF <br />
                    <strong>$119.000 COP</strong>
                </p>
                <img src="~/imagenes/mouse-off.png" width="250" />
            </div>

            <div class="div6">
                <h2>Headset Kotion Each</h2>
                <p>
                    Microfono integrado, Cancelacion de sonido<br />
                    color:Azul-negro<br />
                    referencia:G4000<br />
                    <strong>Precio:</strong> <del>$90.000 COP</del> 10%OFF <br />
                    <strong>$79.000 COP</strong>
                </p>
                <img src="~/imagenes/headset-off.png" width="250" height="160" />
            </div>
        </div>
    </div>
</div>