
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="parent">
        <a href="#">
            <div class="cont-p">
                <h2>Monitores</h2>
                <div class="cont-img-p">
                    <img src="~/imagenes/monitoLg.png" alt="Monitor" width="180">
                </div>
                <br>
                <p>Elija su monitor perfecto con nuestra gran diversidad de productos</p>
            </div>
        </a>
        <a href="#">
            <div class="cont-p">
                <h2>Teclados</h2>
                <div class="cont-img-p">
                    <img id="img-tec" src="~/imagenes/teclado-off1.png" alt="Teclado" width="250">
                </div>
                <br>
                <p>En este apartado encontrara la seccion de monitores para que elija y disfrute de nuestros productos</p>
            </div>
        </a>
        <a href="">
            <div class="cont-p">
                <h2>mouses</h2>
                <div class="cont-img-p">
                    <img id="img-m" src="~/imagenes/mouse-off.png" alt="Mouse" width="250">
                </div>
                <br>
                <p>Un mouse puede hacer la diferncia, Gran seleccion  de mouses</p>
            </div>
        </a>
    </div>
</div>

